<h3><%= @selecting_meetup.name %></h3>

<p>Location: <%= @selecting_meetup.location %></p>
<p>Description: <%= @selecting_meetup.description %></p>
<p>Start Time: <%= @selecting_meetup.start_time %></p>
<p>End Time: <%= @selecting_meetup.end_time %></p>

<form action='/join_meetup' method='post'>
  <input type='hidden' name='id' value="<%=@selecting_meetup.id%>" />
  <input type='submit' value='Join'/>
</form>
<ul>

<% @users.each do |user| %>
  <li>
    <%= user.username %>
    <br>
    <img src="<%= user.avatar_url %>" width="150" height="150">
  </li>
  <br>
<%end%>
</ul>
