<h3><%= @selecting_meetup.name %></h3>

<p>Location: <%= @selecting_meetup.location %></p>
<p>Description: <%= @selecting_meetup.description %></p>
<p>Start Time: <%= @selecting_meetup.start_time %></p>
<p>End Time: <%= @selecting_meetup.end_time %></p>
